@import "tailwindcss";


.slick-arrow .slick-prev {
  display: none;
}

/* *{
  outline: 2px solid red;
} */

.slick-slider{
  overflow: hidden;
} 
.slick-list{
   overflow: hidden; 
}
/* .slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  color: black;
  font-size: 10px;
} */
